@CHARSET "UTF-8";

.default_table
{
	border-collapse: collapse;
	/**border: 1px solid #999999;*/
	border-spacing:0px;
	table-layout:fixed;
	padding: 0;
}
.default_table td
{

	padding: 0;
}

.td_bgcolor
{
	background-color: red;
	opacity:0.4;
	filter:alpha(opacity=40); 
}